/*General rules*/
:root {
    --body-copy: "Poppins";
    /* base and brand colors  */
    --brand-color-d-blue: #1a0d39;
    --brand-color-purple: #4d40b3;
    --brand-color-blue: #395696;
    --brand-color-black: #000000;
    --brand-color-white: #ffffff;
    /* text-colors  */
    --primary-text-color-1: #16181e;
    --primary-text-color-2: #313541;
    --secondary-text-color: #3f4a56;
    /* fill-colors  */
    --fill-l-blue: #d1e4ff;
    --fill-aqua: #c7e8f7;
    /* hover colors  */
    --primary-hover: #6e14ef;
    --secondary-hover: #47649e;
    /* borders and line colors  */
    --light-blue-grey: #f1f4fa;
    --light-grey: #cccccc;
    --dark-grey: #ababab;
    --blue-grey-1: #8091a5;
    --blue-grey-2: #667587;
    --blue-grey-3: #3f4a56;
    --secondary-border: #2a4a8d;
    /* box-shadow settings  */
    --b-shadow: -8px 8px 15px -7px #cccccc;
    --br-shadow: 8px 8px 15px -1px #cccccc;
    --br-dark-shadow: 7px 7px 12px -3px #6d6d6d;
    --border: 1px solid #8091a5;
    /* border-radius  */
    --br-sm: 8px;
    --br-md: 16px;
    --br-lg: 24px;
    /* navbar  */
    --navbar-height: 70px;
    --navbar-bg-color: #ffffff;
    /* side margins  */
    --side-margins-sm-device: 0 10px;
    --side-margins-576px: 0 16px;
    --side-margins-768px: 0 20px;
    --side-margins-992px: 0 24px;
    --side-margins-1200px: 0 28px;
    --side-margins-1400px: 0 120px;
    --side-margins-1800px: 0 160px;
    --side-margins-2560px: 0 48px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    max-width: 100%;
}

body {
    background-color: var(--brand-color-white);
}

nav {
    padding: 5px 10px;
}

ul {
    font-family: var(--body-copy);
    color: var(--primary-text-color-1);
    line-height: 25px;
    list-style-type: none;
    text-transform: capitalize;
    text-align: left;
}

article {
    margin: 10px auto;
}

section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 2em;
}

h1 {
    font-family: var(--body-copy);
    font-size: 1.6rem;
    line-height: 5pt;
    padding-left: 10px;
    font-weight: 600;
    text-transform: uppercase;
}

h2 {
    font-family: var(--body-copy);
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 5pt;
    line-height: 40pt;
    text-transform: capitalize;
}


h3 {
    font-family: var(--body-copy);
    font-size: 1.7rem;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--primary-text-color-1);
    margin-bottom: 1em;
}

p {
    font-family: var(--body-copy);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.78;
    margin-bottom: 24px;
}

a {
    font-family: var(--body-copy);
    color: var(--primary-text-color-1);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.78;
    margin-bottom: 24px;
    text-decoration: none;
    cursor: pointer;
}

sup {
    font-size: 8px;
}

.emphasis {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.78;
}

.light {
    background-color: #f7f7f7;
}

.orange-text {
    font-weight: 700;
    color: #dfbd00;
    text-shadow: 1px 1px 2px black;
}

.lime-text {
    font-weight: 700;
    color: #b0dd2a;
    text-shadow: 1px 1px 2px black;
}

.cyan-text {
    font-weight: 700;
    color: #04c7c7;
    text-shadow: 1px 1px 2px black;
}

.violet-text {
    font-weight: 700;
    color: #a507a5fd;
    text-shadow: 1px 1px 2px black;
}

.red-text {
    font-weight: 700;
    color: #d34836;
    text-shadow: 1px 1px 2px black;
}

.italic-text {
    font-style: italic;
    font-weight: 700;
}

.primary-button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--brand-color-purple);
    font-family: var(--body-copy);
    letter-spacing: 2pt;
    color: var(--brand-color-white);
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    padding: 12px 24px;
    box-shadow: var(--br-dark-shadow);
    transition: all .3s ease-in-out;
}

.primary-button:hover {
    background-color: var(--primary-hover);
    box-shadow: none;
}

.secondary-button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--brand-color-white);
    font-family: var(--body-copy);
    letter-spacing: 2pt;
    color: var(--secondary-border);
    border: 1px solid var(--secondary-border);
    border-radius: 50px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: var(--br-dark-shadow);
    transition: all .3s ease-in-out;
}

.secondary-button:hover {
    background-color: var(--secondary-hover);
    box-shadow: none;
}

/* General Component styles  */

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: var(--navbar-height);
    background-color: var(--navbar-bg-color);
    box-shadow: var(--b-shadow);
    z-index: 1;
    width: 100%;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    height: 53px;
    padding-left: 5px;

}

.home-link,
.navbar-links {
    font-family: var(--body-copy);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar-logo {
    display: flex;
    font-family: var(--body-copy);
    flex-direction: row;
    margin-bottom: 0;
    align-items: center;
}

.navbar-logo img {
    width: 40px;
    height: auto;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-name span {
    color: var(--brand-color-purple);
}

.menu-toggle {
    border: none;
    cursor: pointer;
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.menu-toggle .icon-bar {
    fill: var(--brand-color-purple);
}

.nav-menu {
    list-style-type: none;
    padding: 0;
    display: none;
}

.nav-menu.show {
    position: fixed;
    top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    background-color: var(--brand-color-purple);
    left: 0;
    margin: 0;
}

.nav-menu .navbar-link,
.nav-menu .navbar-link a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    font-size: 20px;
    color: var(--navbar-bg-color);
}

.grayscale-image {
    width: 200px;
    height: auto;
    margin: 10px 10px 10px 0;
    filter: brightness(1.5);
    opacity: 0.7;
    border-radius: 2.5px;
}

.main-content-container {
    margin: var(--side-margins-sm-device);
}

/* hero sections  */
.global-hero-banner-with-button {
    background-image: url(/assets/img/hero-index.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--primary-text-color-1);
    padding: 160px 0;
}

.hero-content {
    margin: 20px;
    max-width: 450px;
}

.hero-button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1em;
    margin-top: 1em;
}

.primary-button,
.secondary-button {
    width: 90%;
    height: 47px;
    text-align: center;
}

/* modal styles  */

.modal {
    position: fixed;
    bottom: -68px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: bottom 0.3s ease-in-out;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    transition: all 0.8s cubic-bezier(0.1, 1, 1, 0.9);
    display: none;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    padding: 10px;
    height: 111%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modal-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.modal-header h3 {
    font-size: 1.3rem;
    margin-bottom: 5px;
}

.close-modal {
    display: flex;
    font-size: 24px;
    cursor: pointer;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 85%;
    overflow-y: auto;
}

.modal-body p {
    display: flex;
    margin-bottom: 5px;
    font-size: 0.94rem;
    line-height: 30px;
}

.tabs {
    display: flex;
    justify-content: space-evenly;
    width: 99%;
    flex-direction: row;
}

.tab-button {
    font-family: var(--body-copy);
    font-size: 0.98rem;
    letter-spacing: 1px;
    background-color: #809ee1;
    color: var(--brand-color-black);
    width: 50%;
    border: none;
    padding: 10px 20px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab-button.active {
    color: var(--brand-color-white);
    background-color: var(--brand-color-purple);
    border: 1px solid var(--brand-color-d-blue);
}

.tab-content {
    display: none;
    border: 1px solid var(--blue-grey-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 99%
}

.tab-content table {
    width: 100%;
    border-collapse: collapse;
}

.tab-content th {
    font-family: var(--body-copy);
    font-size: 0.98rem;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 8px;
    text-align: left;
    background-color: #6e7bdb;
    color: var(--brand-color-black);
}

.tab-content td {
    font-family: var(--body-copy);
    font-size: 0.96rem;
    padding: 8px;
    text-align: left;
}

.tab-content tr:nth-child(odd) td {
    background-color: #f8f7ff;
}


.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1em;
}

/* home page -inner course navigation  */

.page-nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 100%;
}

.page-nav-container .nav-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    max-width: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.page-nav-container .nav-card-image {
    width: 100%;
    object-fit: cover;
}

.page-nav-container .nav-card-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
}

.page-nav-container .nav-card-content .primary-button {
    margin-top: 1em;
}

.btt-button {
    position: fixed;
    bottom: -0.75rem;
    right: 0.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--brand-color-purple);
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
    transition: 0.2s ease-out;
    box-shadow: 10px 10px 22px -6px rgba(0, 0, 0, 0.44);
}

.btt-button .span {
    fill: var(--brand-color-white);
    transition: 0.2s ease-out;
}

.btt-button:hover {
    background-color: var(--primary-hover);
    box-shadow: none;
}

.btt-button .span:hover {
    transform: translateY(-4px);
}

/* basics styling  */


.page-nav-showcase {
    margin-bottom: 20px;
    padding: 0 10px;
    border: 1px solid grey;
    border-radius: 2.5px;
}

.grayscaleImage-medium {
    width: 100%;
    height: auto;
    filter: brightness(1.5);
    opacity: 0.7;
    border-radius: 2.5px;
}

/* card blocks */
/* .cards-container {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 250px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card {
    border: 1px solid var(--blue-grey-1);
    border-radius: var(--br-sm);
    margin: 5px 0;
}

.card-no-left-margin {
    border: 1px solid var(--blue-grey-1);
    border-radius: var(--br-sm);
}

.card-no-right-margin {
    border: 1px solid var(--blue-grey-1);
    border-radius: var(--br-sm);
}

.thumbnail>img {
    padding: 5px;
}

.card-content {
    padding: 1.4em;
}

.card-content h2 {
    margin-top: 0;
    margin-bottom: .5em;
    font-weight: bold;
} */

/* footer styles  */

footer {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--blue-grey-1);
    padding-top: 1em;
}

.footer-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid var(--blue-grey-1);
    padding: 1em 0;
    margin: var(--side-margins-sm-device);
}

.no-border {
    border: none;
}

.footer-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 1em;
}

.footer-column .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-logo .logo-image {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.footer-column .footer-list-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.footer-column .footer-list ul {
    display: flex;
}

.help-link {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.help-link p {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.78;
    margin-bottom: 0;
}

.help-link:hover {
    text-decoration: underline;
}

.help-link svg {
    width: 35px;
    height: 35px;
    margin-right: 20px;
}

.help-link span {
    text-transform: lowercase;
}

.facebook .fill {
    fill: #395696;
}

.linkedin .fill {
    fill: #62ACC7;
}

.twitter .fill {
    fill: #4eb3ec;
}


.hero-image-basics {
    display: flex;
    flex-direction: column;
    min-height: 15em;
    align-self: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(100, 100, 100, 0.52), rgba(10, 0, 3, 0.3)), url(img/basichero-min.jpg);
    background-attachment: fixed;
}

/* strings  */
.hero-image-strings {
    display: flex;
    flex-direction: column;
    min-height: 15em;
    height: 70vh;
    align-self: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    background-position-y: center;
    width: 100%;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(100, 100, 100, 0.52), rgba(10, 0, 3, 0.3)), url(img/tuning-hero-min.jpg);
    background-attachment: fixed;
}

/* frets styling  */

.hero-image-frets {
    display: flex;
    flex-direction: column;
    min-height: 15em;
    height: 70vh;
    align-self: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    background-position-y: center;
    width: 100%;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(100, 100, 100, 0.52), rgba(10, 0, 3, 0.3)), url(img/frets-banner-min.jpg);
    background-attachment: fixed;
}

.centeredImage_container {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 100%;
    height: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    border-radius: 3px;
}

.frets {
    background-image: linear-gradient(to bottom, rgba(100, 100, 100, 0.52), rgba(10, 0, 3, 0.3)), url(img/frets-banner-min.jpg);
}

.fretting {
    background-image: linear-gradient(to bottom, rgba(100, 100, 100, 0.52), rgba(10, 0, 3, 0.3)), url(img/Guitar-Fretting-min.jpg);
}

.soundWaves {
    background-image: linear-gradient(to bottom, rgba(100, 100, 100, 0.52), rgba(10, 0, 3, 0.3)), url(img/sound-waves-min.jpg);
}

.chord {
    background-image: url(/img/eminor-min.png);
}

.centeredImageBanner_title-top {
    position: relative;
    top: -110px;
}

.video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    padding-bottom: 20%;
    height: 100%;
}

.video-container>video {
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
}

/*basics page 2 content cards styles*/

/* strings styles  */
.tuning-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.acoustic-guitar-tuner {
    height: 500px;
}

.acoustic-desktop {
    display: none;
}

/* tuner notes styles  */

.tuner-E {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    top: -234px;
    left: 42px;
    width: 45px;
    height: 45px;
    font-family: 'Spartan';
    font-size: 26px;
    font-weight: 700;
    color: #d34836;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    border-radius: 50%;
    border: 1px solid rgb(223, 223, 223);
    background-color: #d3d3d391;
    cursor: pointer;
    padding-bottom: 5px;
}


.tuner-A {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    top: -358px;
    left: 42px;
    width: 45px;
    height: 45px;
    font-family: 'Spartan';
    font-size: 26px;
    font-weight: 700;
    color: #dfbd00;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    border-radius: 50%;
    border: 1px solid rgb(223, 223, 223);
    background-color: #d3d3d391;
    cursor: pointer;
    padding-bottom: 5px;
}

.tuner-D {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    top: -482px;
    left: 42px;
    width: 45px;
    height: 45px;
    font-family: 'Spartan';
    font-size: 26px;
    font-weight: 700;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    border-radius: 50%;
    border: 1px solid rgb(223, 223, 223);
    background-color: #d3d3d391;
    cursor: pointer;
    padding-bottom: 5px;
    color: #b0dd2a;
}

.tuner-G {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    top: -528px;
    left: 314px;
    width: 45px;
    height: 45px;
    font-family: 'Spartan';
    font-size: 26px;
    font-weight: 700;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    border-radius: 50%;
    border: 1px solid rgb(223, 223, 223);
    background-color: #d3d3d391;
    cursor: pointer;
    padding-bottom: 5px;
    color: #04c7c7;
}

.tuner-B {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    top: -493px;
    left: 314px;
    width: 45px;
    height: 45px;
    font-family: 'Spartan';
    font-size: 26px;
    font-weight: 700;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    border-radius: 50%;
    border: 1px solid rgb(223, 223, 223);
    background-color: #d3d3d391;
    cursor: pointer;
    padding-bottom: 5px;
    color: #a507a5fd;
}

.tuner-high-E {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    top: -460px;
    left: 314px;
    width: 45px;
    height: 45px;
    font-family: 'Spartan';
    font-size: 26px;
    font-weight: 700;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    border-radius: 50%;
    border: 1px solid rgb(223, 223, 223);
    background-color: #d3d3d391;
    cursor: pointer;
    padding-bottom: 5px;
    color: #d34836;
}

.tuner-E:hover,
.tuner-A:hover,
.tuner-D:hover,
.tuner-G:hover,
.tuner-B:hover,
.tuner-high-E:hover {
    background-color: #d3d3d3d4;
}

.tuner-E:active,
.tuner-A:active,
.tuner-D:active,
.tuner-G:active,
.tuner-B:active,
.tuner-high-E:active {
    background-color: #5dd6eca4;
}

.tuner-E:focus,
.tuner-A:focus,
.tuner-D:focus,
.tuner-G:focus,
.tuner-B:focus,
.tuner-high-E:focus {
    outline: transparent;
}

/* string identifier styles (Acoustic Guitar)  */
.e_note-signifyer {
    position: absolute;
    top: 20px;
    left: 114px;
    height: 205px;
}

.a_note-signifyer {
    position: absolute;
    top: 20px;
    left: 118px;
    height: 284px;
}

.d_note-signifyer {
    position: absolute;
    top: 24px;
    left: 118px;
    height: 360px;
}

.g_note-signifyer {
    position: absolute;
    top: 22px;
    left: -114px;
    height: 362px;
}

.b_note-signifyer {
    position: absolute;
    top: 26px;
    left: -100px;
    height: 279px;
}

.high-e_note-signifyer {
    position: absolute;
    top: 30px;
    left: -86px;
    height: 196px;
}

/* string identifier animation styles once triggered by click event */
.e_note-signifyer,
.a_note-signifyer,
.d_note-signifyer,
.g_note-signifyer,
.b_note-signifyer,
.high-e_note-signifyer {
    animation-duration: 7000ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: fadeOutDown;
    display: none;
}



@keyframes fadeOutDown {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    30% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
    }
}


.yak {
    display: none;
}

.prev,
.next {
    display: none;
}

/* large mobile and small tablet view ports */

@media all and (min-width: 576px) {

    .main-content-container {
        margin: var(--side-margins-576px);
    }

    /* index-styles  */
    .emphasis-logo {
        width: 80px;
        height: 80px;
    }

    .cards-container {
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 250px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .card {
        background: white;
        border: 1px solid black;
        border-radius: 2px;
        margin: 10px 0;
    }

    .card-no-left-margin {
        margin: 10px 0;
        border: 1px solid black;
        border-radius: 2px;
    }

    .card-no-right-margin {
        margin: 10px 0;
        border: 1px solid black;
        border-radius: 2px;
    }

    .video-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 100%;
        align-self: center;
        /*overflow: hidden;*/
        margin: 0 auto;
    }

    /* frets1 styles  */

    .centeredImage_container {
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        max-width: 50%;
        height: 300px;
        text-align: center;
        /*overflow: hidden;*/
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto;
        border-radius: 3px;
    }

    .open-chord-carousel {
        max-width: 800px;
        margin: 20px auto;
        padding: 15px;
        text-align: center;
        position: relative;
        border: 1px solid grey;
        border-radius: 5px;
    }

    .open-chord-carousel .btn {
        position: absolute;
        top: 50%;
        height: 60px;
        width: 60px;
        border: 1px solid #5bffff;
        border-radius: 50% 50%;
        background-color: #ffffff;
        z-index: 1;
        line-height: 30px;
        text-align: center;
        color: #5bffff;
        font-weight: bold;
        font-size: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .open-chord-carousel .btn:hover {
        background-color: rgba(95, 106, 117, 0.5);
        cursor: pointer;
    }

    .open-chord-carousel .btn.next {
        right: 15px;
    }

    .open-chord-carousel .btn.prev {
        left: 15px;
    }

    .yak {
        display: none !important;
    }

    .yik {
        display: block;
    }

    .modal::after {
        top: 60%;
        /* Adjust this value as needed */
    }

}

@media screen and (min-width: 768px) {

    /* index-styles  */
    .page-nav-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }

    .page-nav-container .nav-card {
        margin-bottom: 1em;
    }

    .page-nav-container .nav-card-image {
        max-height: 250px;
    }

    .main-content-container {
        margin: var(--side-margins-768px);
    }

    .video-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 36%;
        height: 100%;
        align-self: center;
        margin: 0 auto;
    }



    .video-container>video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .card,
    .card-no-left-margin,
    .card-no-right-margin {
        width: calc(910px / 1.5);
        margin: 10px 0;
    }

    .modal {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .modal-content {
        width: 75%;
        height: 86%;
        position: relative;
        left: 12%;
        top: 4%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    .modal-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: -webkit-fill-available;
    }

    .modal-body {
        max-height: 100%;
        overflow-y: revert;
    }

    .tabs, .tab-content {
    width: -webkit-fill-available;
    }

}

@media screen and (min-width: 992px) {
    section {
        align-items: center;
    }

    /*basics page 2 content cards styles*/
    .acoustic-desktop {
        display: flex;
    }

    /* strings styles  */
    .tuning-section {
        display: flex;
        max-height: 670px;
    }

    .acoustic-guitar-tuner {
        flex: 0 1 400px;
    }

    /* tuner notes styles  */

    .tuner-E {
        position: relative;
        top: -320px;
        left: 24px;
        border-radius: 50%;
        border: 1px solid rgb(223, 223, 223);
        background-color: #d3d3d391;
        width: 60px;
        height: 60px;
        padding: 16px 16px 16px 20px;
        font-family: 'Spartan';
        font-size: 25px;
        font-weight: 700;
        color: #d34836;
        text-shadow: 1px 1px 2px black;
        display: flex;
        cursor: pointer;
        z-index: 99;
    }

    .tuner-A {
        position: relative;
        top: -490px;
        left: 24px;
        border-radius: 50%;
        border: 1px solid rgb(223, 223, 223);
        background-color: #d3d3d391;
        width: 60px;
        height: 60px;
        padding: 24px;
        font-family: 'Spartan';
        font-size: 25px;
        font-weight: 700;
        color: #dfbd00;
        text-shadow: 1px 1px 2px black;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .tuner-D {
        position: relative;
        top: -655px;
        left: 24px;
        border-radius: 50%;
        border: 1px solid rgb(223, 223, 223);
        background-color: #d3d3d391;
        width: 60px;
        height: 60px;
        padding: 24px;
        font-family: 'Spartan';
        font-size: 25px;
        font-weight: 700;
        color: #b0dd2a;
        text-shadow: 1px 1px 2px black;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .tuner-G {
        position: relative;
        top: -720px;
        left: 480px;
        border-radius: 50%;
        border: 1px solid rgb(223, 223, 223);
        background-color: #d3d3d391;
        width: 60px;
        height: 60px;
        padding: 24px;
        font-family: 'Spartan';
        font-size: 25px;
        font-weight: 700;
        color: #04c7c7;
        text-shadow: 1px 1px 2px black;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .tuner-B {
        position: relative;
        top: -670px;
        left: 480px;
        border-radius: 50%;
        border: 1px solid rgb(223, 223, 223);
        background-color: #d3d3d391;
        width: 60px;
        height: 60px;
        padding: 24px;
        font-family: 'Spartan';
        font-size: 25px;
        font-weight: 700;
        color: #a507a5fd;
        text-shadow: 1px 1px 2px black;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .tuner-high-E {
        position: relative;
        top: -620px;
        left: 480px;
        border-radius: 50%;
        border: 1px solid rgb(223, 223, 223);
        background-color: #d3d3d391;
        width: 60px;
        height: 60px;
        padding: 24px;
        font-family: 'Spartan';
        font-size: 25px;
        font-weight: 700;
        color: #d34836;
        text-shadow: 1px 1px 2px black;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .tuner-E:hover,
    .tuner-A:hover,
    .tuner-D:hover,
    .tuner-G:hover,
    .tuner-B:hover,
    .tuner-high-E:hover {
        background-color: #d3d3d3d4;
    }

    .tuner-E:active,
    .tuner-A:active,
    .tuner-D:active,
    .tuner-G:active,
    .tuner-B:active,
    .tuner-high-E:active {
        background-color: #5dd6eca4;
    }

    .tuner-E:focus,
    .tuner-A:focus,
    .tuner-D:focus,
    .tuner-G:focus,
    .tuner-B:focus,
    .tuner-high-E:focus {
        outline: transparent;
    }

    /* string identifier styles (Acoustic Guitar)  */

    .e_note-signifyer {
        position: absolute;
        top: 32px;
        left: 196px;
        height: 280px;
    }

    .a_note-signifyer {
        position: absolute;
        top: 34px;
        left: 204px;
        height: 388px;
    }

    .d_note-signifyer {
        position: absolute;
        top: 35px;
        left: 206px;
        height: 493px;
    }

    .g_note-signifyer {
        position: absolute;
        top: 34px;
        left: -196px;
        height: 498px;
    }

    .b_note-signifyer {
        position: absolute;
        top: 37px;
        left: -176px;
        height: 385px;
    }

    .high-e_note-signifyer {
        position: absolute;
        top: 34px;
        left: -157px;
        height: 278px;
    }

    /* string identifier animation styles once triggered by click event */

    .e_note-signifyer,
    .a_note-signifyer,
    .d_note-signifyer,
    .g_note-signifyer,
    .b_note-signifyer,
    .high-e_note-signifyer {
        animation-duration: 7000ms;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-name: fadeOutDown;
        display: none;
    }

    @keyframes fadeOutDown {
        0% {
            opacity: 0;
            transform: translateY(0);
        }

        30% {
            opacity: 1;
            transform: translateY(0);
        }

        100% {
            opacity: 0;
        }
    }

    .video-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 100%;
        align-self: center;
        margin: 20px auto;
    }

    .video-container>video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    /*Index Styles*/

    .hero-content {
        max-width: 500px;
    }

    .main-content-container {
        margin: var(--side-margins-992px);
    }

    .primary-button,
    .secondary-button {
        width: 42%;
    }

    .page-nav-container {
        justify-content: center;
    }

    .page-nav-container .nav-card {
        margin-bottom: 0;
    }

    .page-nav-container .nav-card-content .primary-button {
        width: 100%;
    }

    /* basics styles */

    .hero-image-basics {
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(to bottom, rgba(100, 100, 100, 0.52), rgba(10, 0, 3, 0.3)), url(img/basics-hero-min.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=100vw);
        min-height: 15em;
        height: 70vh;
        align-self: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        align-items: center;
        justify-content: center;
        background-position-y: center;
        width: 100%;
        background-size: cover;
    }

    .card,
    .card-no-left-margin,
    .card-no-right-margin {
        width: calc(910px / 3);
    }

    .card {
        margin: 20px 15px;
        padding: 0;
    }

    .hero-image-chords {
        display: flex;
        flex-direction: column;
        min-height: 15em;
        height: 70vh;
        align-self: center;
        background-repeat: no-repeat;
        align-items: center;
        justify-content: center;
        background-position-y: center;
        width: 100%;
        background-size: cover;
        background-image: linear-gradient(to bottom, rgba(100, 100, 100, 0.52), rgba(10, 0, 3, 0.3)), url(img/chords-banner.jpg);
        background-attachment: fixed;
        filter: brightness(125%);
    }

    /*Main pages content styles*/


    @keyframes animatetop {
        from {
            top: -300px;
            opacity: 0
        }

        to {
            top: 0;
            opacity: 1
        }
    }

    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        cursor: pointer;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }


    /* .modal {
   
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
        display: none;
    }
    
    .modal-content {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        max-width: 80%;
        text-align: center;
    }
    
    .close-modal {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        cursor: pointer;
    } */



    /*basic page 1 styles*/
    .guitar-components_basics {
        background-image: url(img/guitar-diagram-min.png);
        background-size: contain;
        height: 300px;
        width: auto;
        background-repeat: no-repeat;
        margin: 0 30%;
    }

    /*basics page 2 content cards styles*/

    /* strings styles  */

    .acoustic-small {
        display: none;
    }

    .tuning-section {
        display: flex;
        max-height: 670px;
        align-items: baseline;
    }

    .acoustic-guitar-tuner {
        flex: 0 1 400px;
    }

    /* tuner notes styles  */

    .tuner-E {
        position: relative;
        top: -320px;
        left: 24px;
        border-radius: 50%;
        border: 1px solid rgb(223, 223, 223);
        background-color: #d3d3d391;
        width: 60px;
        height: 60px;
        padding: 16px 16px 16px 20px;
        font-family: 'Spartan';
        font-size: 25px;
        font-weight: 700;
        color: #d34836;
        text-shadow: 1px 1px 2px black;
        display: flex;
        cursor: pointer;
        z-index: 99;
    }

    .tuner-A {
        position: relative;
        top: -490px;
        left: 24px;
        border-radius: 50%;
        border: 1px solid rgb(223, 223, 223);
        background-color: #d3d3d391;
        width: 60px;
        height: 60px;
        padding: 24px;
        font-family: 'Spartan';
        font-size: 25px;
        font-weight: 700;
        color: #dfbd00;
        text-shadow: 1px 1px 2px black;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .tuner-D {
        position: relative;
        top: -655px;
        left: 24px;
        border-radius: 50%;
        border: 1px solid rgb(223, 223, 223);
        background-color: #d3d3d391;
        width: 60px;
        height: 60px;
        padding: 24px;
        font-family: 'Spartan';
        font-size: 25px;
        font-weight: 700;
        color: #b0dd2a;
        text-shadow: 1px 1px 2px black;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .tuner-G {
        position: relative;
        top: -720px;
        left: 480px;
        border-radius: 50%;
        border: 1px solid rgb(223, 223, 223);
        background-color: #d3d3d391;
        width: 60px;
        height: 60px;
        padding: 24px;
        font-family: 'Spartan';
        font-size: 25px;
        font-weight: 700;
        color: #04c7c7;
        text-shadow: 1px 1px 2px black;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .tuner-B {
        position: relative;
        top: -670px;
        left: 480px;
        border-radius: 50%;
        border: 1px solid rgb(223, 223, 223);
        background-color: #d3d3d391;
        width: 60px;
        height: 60px;
        padding: 24px;
        font-family: 'Spartan';
        font-size: 25px;
        font-weight: 700;
        color: #a507a5fd;
        text-shadow: 1px 1px 2px black;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .tuner-high-E {
        position: relative;
        top: -620px;
        left: 480px;
        border-radius: 50%;
        border: 1px solid rgb(223, 223, 223);
        background-color: #d3d3d391;
        width: 60px;
        height: 60px;
        padding: 24px;
        font-family: 'Spartan';
        font-size: 25px;
        font-weight: 700;
        color: #d34836;
        text-shadow: 1px 1px 2px black;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .tuner-E:hover,
    .tuner-A:hover,
    .tuner-D:hover,
    .tuner-G:hover,
    .tuner-B:hover,
    .tuner-high-E:hover {
        background-color: #d3d3d3d4;
    }

    .tuner-E:active,
    .tuner-A:active,
    .tuner-D:active,
    .tuner-G:active,
    .tuner-B:active,
    .tuner-high-E:active {
        background-color: #5dd6eca4;
    }

    .tuner-E:focus,
    .tuner-A:focus,
    .tuner-D:focus,
    .tuner-G:focus,
    .tuner-B:focus,
    .tuner-high-E:focus {
        outline: transparent;
    }

    /* string identifier styles (Acoustic Guitar)  */

    .e_note-signifyer {
        position: absolute;
        top: 32px;
        left: 196px;
        height: 280px;
    }

    .a_note-signifyer {
        position: absolute;
        top: 34px;
        left: 204px;
        height: 388px;
    }

    .d_note-signifyer {
        position: absolute;
        top: 35px;
        left: 206px;
        height: 493px;
    }

    .g_note-signifyer {
        position: absolute;
        top: 34px;
        left: -196px;
        height: 498px;
    }

    .b_note-signifyer {
        position: absolute;
        top: 37px;
        left: -176px;
        height: 385px;
    }

    .high-e_note-signifyer {
        position: absolute;
        top: 34px;
        left: -157px;
        height: 278px;
    }

    /* string identifier animation styles once triggered by click event */
    .e_note-signifyer,
    .a_note-signifyer,
    .d_note-signifyer,
    .g_note-signifyer,
    .b_note-signifyer,
    .high-e_note-signifyer {
        animation-duration: 7000ms;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-name: fadeOutDown;
        display: none;
    }


    @keyframes fadeOutDown {
        0% {
            opacity: 0;
            transform: translateY(0);
        }

        30% {
            opacity: 1;
            transform: translateY(0);
        }

        100% {
            opacity: 0;
        }
    }

    /* strings */

    .guitar-components_strings {
        background-image: url(img/acoustic-versus-spanish.png);
        background-size: contain;
        height: 235px;
        width: 100%;
        background-repeat: no-repeat;
        margin: 0 30%;
    }

    /* frets 1 styles  */

    .left-column,
    .right-column {
        display: flex;
        align-items: center;
    }

    .page-navigation-anchor:hover {
        text-decoration: none;
    }

    .centeredImage_container-soundWaves,
    .centeredImage_container-fretting,
    .centeredImage_container-frets {
        width: 60%;
    }

    /*Chords2 Styles*/
    .yak {
        display: block;
    }

    .yik {
        display: block;
    }

    /*Rhythm page content styles*/

    #lower-section-imageR1 {
        background-image: url(img/acoustic-mic-studio.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        max-height: 400px;
        grid-column: 2/6;
        grid-row: 2/4;
        margin: 0;
        padding: 0;
        border-radius: 10px;
    }

    #lower-sectionR1 {
        grid-column: 1/7;
        grid-row: 4;
        text-align: center;
        margin-top: 0;
        padding-top: 0;

    }

    #lower-section-image2R1 {
        background-image: url(img/metronome.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        grid-column: 2/6;
        grid-row: 5/7;
    }

    .outroR1 {
        grid-column: 3/7;
        grid-row: 7;
        font-family: 'Roboto';
        font-style: italic;
        text-align: right;
        font-size: 1.5rem;
        color: lightgray;
    }

    /*Rhythm Page 2 styling*/

    .introduction {
        grid-column: 1/-1;
        grid-row: 1;
        text-align: center;
        margin-top: 0
    }

    .story {
        grid-column: 1/7;
        grid-row: 2;
        margin-top: 0;
    }

    .story img {
        height: auto;
        width: 100%;
        max-width: 360px;
        margin: 0 10px 5px 10px;
        float: left;
        border-radius: 10px
    }

    #head-banner-content-rhythm2>.chord-section1 {
        grid-column: 1/7;
        grid-row: 4;
    }

    .chord-section1 img {
        height: auto;
        width: 100%;
        max-width: 258px;
        margin: 15px 10px 0px 10px;
        float: left;
        border-radius: 10px
    }

    .chord-section1a {
        grid-column: 1/7;
        grid-row: 5;
    }

    .chord-section1a img {
        float: right;
        height: 300px;
        width: 200px;
    }

    .chord-section2 {
        grid-column: 1/-1;
        grid-row: 3;
        text-align: center;
    }

    /* .table {
        grid-column: 1/-1;
        grid-row: 7;
    }

    .table>table {
        height: auto;
        width: 100%;
        font-family: 'Roboto';
        font-size: 1.5rem;
    }

    th {
        background-color: bisque;
    }

    td {
        background-color: aliceblue;
        text-align: center;
    }

    table,
    th,
    td {
        border: 1px solid #111;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 5px;
    } */

    .outro {
        grid-column: 1/7;
        grid-row: 3;
        font-family: 'Roboto';
        font-style: italic;
        text-align: right;
        font-size: 1.5rem;
        color: grey;
    }

    /*lead styles*/

    .higher-section-image-lead {
        background-image: url(img/lead-guitar-image.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        transform: rotate(340deg);
        grid-column: 3/5;
        grid-row: 2
    }

    .higher-section-l1 {
        grid-column: 1/7;
        grid-row: 3;
        text-align: center
    }

    .lower-section-lead {
        grid-column: 1/7;
        grid-row: 5
    }

    #lesson-two-lead {
        grid-column: 1/6;
        grid-row: 7;
        border: 2px solid lightgray;
        border-radius: 10px;
    }

    #lesson-two-lead h1 {
        font-family: 'Courgette', 'sans-serif';
        font-size: 40px;

    }

    #lesson-two-lead p {
        font-family: 'Secular+One', 'sans-serif';
        text-align: center;

    }

    /*lead 2 styles*/
    .thankyou {
        grid-column: 1/7;
        grid-row: 1;
        margin: 0;
        text-align: center
    }

    .tablature-lesson-introduction {
        grid-column: 1/7;
        grid-row: 2;
        text-align: center;
        margin: 0;
    }

    #tablature-placeholder {
        background-image: url(img/Tablature.png);
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 15px;
        grid-column: 2/6;
        margin: 20px 0;
        grid-row: 3/5;
    }

    .tablature-description {
        grid-column: 1/7;
        grid-row: 5;
        text-align: center;
        margin: 0
    }

    .disclaimer {
        grid-column: 2/6;
        grid-row: auto;
        text-align: center;
    }

    /* 
@media only screen and (max-width: 963px) {

    article {
        margin: 0 20px;
    }

    .desktop-nav-bar {
        display: none;
    }

    header {
        border-bottom: 1px solid grey;
    }

    #lesson-two-basics,
    #lesson-two-lead,
    #lesson-two-chords,
    #lesson-two-frets {
        grid-column: 1/7;
        margin-bottom: 20px;
        grid-row: auto;
    }

    /*Mobile nav stylings*/
    /* .burger-button {
        display: block;
        float: left;
        margin: 16px;
        line-height: 30px;
        font-size: 28px;
        fill: black;
    }

    #mobile-menu {
        overflow: auto;
        position: absolute;
        z-index: 999999;
        width: 100%;
        float: left;
        margin-top: 60px
    }

    #mobile-menu a {
        width: 100%;
        float: left;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: lightgrey;
        color: #ffffff;
        text-align: center;
        padding-left: 16px;
        text-decoration: none;
        border-bottom: 1px solid #0065d1;
    }

    .logo {
        text-align: center;
        height: auto;
    }

    .main-banner-image {
        height: 250px;
    }

    .banner-message {
        font-size: 1rem;
        grid-column: 1/5;
        grid-row: 1;
        margin: 10px 0 10px 10px;
    } */

    /*basics styling*/
    /* #card-bridge {
        grid-row: 1;
        max-height: 200px;
        align-items: end;
        border: none;
    }

    #cardB1 {
        grid-column: 3/4;
        width: 219px;
        margin-left: 50px;
    }

    .info-boxB1 {
        grid-column: 1/7;
        grid-row: 2;
        text-align: center;
    }

    #cardB2 {
        grid-column: 3/5;
        width: 300px;
        margin-left: 0;
    }

    #cardB3 {
        grid-column: 2/5;
        height: 148px;
        margin: 50px 0 0 106px;
    } */

    /*frets styles*/
    /* .contentF2 img {
        height: 262px;
        max-width: 300px;
    }

    .content2F2 img {
        height: auto;
        width: 100%;
        max-width: 500px;
    }

    /*Rhythm 1 styles*/
    /* #lower-section-imageR1 {
        background-size: contain;
    }

    #lower-section-image2R1 {
        background-size: contain;
    } */

    /*Chord Styles*/
    /* .info-box-power {
        grid-column: 1/-1;
        grid-row: 2;
        padding: 0;
        margin: 0;
    }

    .card-power1 {
        grid-column: 3;
        grid-row: 2;
        width: 300px;
        height: 300px;
        margin: 0 0 0 5em;
        padding: 0;
    }

    .info-box-power p {
        grid-row: 3;
    }

    .info-box2-power {
        grid-column: 1/-1;
        grid-row: 3;
    }

    .card2-power {
        grid-column: 3;
        grid-row: 2;
        width: 300px;
        height: 300px;
        margin: 0 0 0 5em;
        padding: 0;
    }

    .info-box2-power p {
        grid-row: 3;
    }

    .info-box2-power {
        grid-column: 1/-1;
        grid-row: 3;
    }

    .outro-power {
        grid-row: 5;
    } */

    /*lead*/
    /* .higher-section-image-lead {
        grid-column: 3/5;
        transform: rotate(310deg);
    }

    #tablature-placeholder {
        grid-row: 3;
        grid-column: 3/6;
    }

    .tablature-description {
        grid-row: 4;
    }

    .guitar-on-tab-placeholder {
        background-size: contain;
        grid-row: 5/8;
        margin-bottom: 2em;
    }

    .outro-lead-final {
        grid-row: 5/8;
        margin-bottom: 2em;
    }


} */

    /* @media only screen and (max-width: 730px) {
    section {
        margin: 0;
        text-align: center;
    }

    h2 {
        font-size: 22px;
    }

    .mobile-navigation ul,
    .mobile-navigation li,
    .mob-sub-level {
        margin-left: 5px;
        font-size: 22px;
        line-height: 25px;
    }

    .logo h2 {
        text-align: center;
        height: 50px;
        width: 430px;
        line-height: 50px;
        font-size: 28px;
    }

    #touch-nav-content {
        display: flex;
        flex-direction: column;
    }

    #main-banner-image-basics img {
        width: 400px;
    }

    #main-banner-image-frets img {
        max-width: 400px;
    }

    .lower-section-lead {
        margin: 10px 0 10px 0;
    }

    .lower-section-lead p {
        text-align: center;
    }

    .mobile-navigation {
        width: 90vw;
        margin-top: 3.8em;
    }

    /*basics styling*/
    /* #card,
    #card-bridge {
        grid-column: 3/5;
        grid-row: 1;
    }

    #info-box,
    #info-box2 {
        grid-column: 1/7;
        grid-row: 2;
    }

    #cardB1,
    #cardB2,
    #cardB3 {
        grid-column: 2/4;
        width: 200px;
        margin: 6em 0 0 0;
    } */



    /*Chords

    #horizontal-card-topC2 {
        padding: 0;
        height: 700px;
    }


    /*Rhythm*/
    /* .introduction {
        grid-column: 1/7;
    } */

    /*lead*/
    /* .higher-section-image-lead {
        transform: rotate(0deg);
        grid-column: 2/6;
    }

    .lower-information-box-lead#information-box-lead {
        height: 500px
    }

    #information-box-lead.lower-information-box-lead h4 {
        margin-top: 5em;
        font-size: 22px;
    }

    .banner-message h1 {
        font-size: 1.3rem;
    }

    #contact-info-detail {
        grid-column: 1/6;
        grid-row: 5/8;
        margin: 0;
    } */

    /*    lead2*/
    /* #contact-info-detail.contact-info {
        grid-column: 1/7;
        grid-row: auto;
        margin: 2em 0;
        height: 650px;
    }

    .contact-information-box,
    #contact-box-lead2 {
        background-size: contain;
        grid-column: 1/7;
        grid-row: 7;
        margin: 2em 0 9em;
        border-radius: 10px;
    } */
    /* } */


    /*Rhythm Styles*/
    /* #main-banner-image-frets img {
        grid-column: 1/4;
    }

    #lower-section-imageR1 {
        background-size: contain;
        grid-column: 2/6;
        grid-row: 2;
    }

    #lower-sectionR1 {
        grid-row: 3;
    }

    #lower-section-image2R1 {
        background-size: contain;
        grid-row: 4;
    }

    .outroR1 {
        grid-row: 5;
    } */

    /*rhythm2*/
    /* .chord-section1 {
        grid-row: 4;
    }

    .chord-section1 p {
        width: 90vw;
        margin: 10px 10px;
    }

    .chord-section1 img {
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    .chord-section1a {
        grid-row: 5;
        margin: 0;
        padding: 0;
    }

    .chord-section1a img {
        height: 250px;
        width: 80vw;
    }

    .chord-section2 {
        grid-row: 6;
        margin: 0;
    } */

    /*chords*/
    /* .chord-section1a {
        display: grid;
    }

    .chord-section1a img {
        grid-column: 2/6;
        grid-row: 3;
    }

    .chord-section1a p,
    h2 {
        grid-column: 1/7;
        grid-row: 1;
    }

    .story {
        display: grid;
    }

    .story img {
        grid-column: 1/7;
        grid-row: 2;
    }

    .story p {
        grid-column: 1/7;
        grid-row: 3;
    }

    .chord-section1 {
        display: grid;
    }

    .chord-section1 img {
        grid-column: 1/7;
        margin-left: 3em;
        grid-row: 2;
    }

    .chord-section1 p {
        grid-column: 1/6;
        grid-row: 3;
    }



    #lesson-two-chords {
        grid-row: 6;
    } */

    /*

    /*chords 2*/
    /* .welcome-chords2 {
        grid-row: 1/2;
    }

    .card-power1 {
        margin: 0 0 0 30px;
    }

    .card2-power {
        margin: 0 0 0 30px;
    }

    .outro-power {
        grid-column: 2/7;
        grid-row: 4;
    } */

    /*lead*/
    /* #main-banner-image-frets img {
        grid-column: 1/5;
        width: 300px;
    }

    #information-box-lead.lower-information-box-lead h4 {
        margin-top: 2em;
        font-size: 22px;
    }

    #tablature-placeholder {
        grid-column: 1/7;
    }

    .card-power1,
    .card2-power {
        margin: 0;
    } */

    /*
} */


    .video-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 100%;
        align-self: center;
        /*overflow: hidden;*/
        margin: 20px auto;
    }

    footer {
        display: flex;
        flex-direction: column;
        border-top: 1px solid var(--blue-grey-1);
        padding-top: 1em;
    }

    .footer-row {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        border-bottom: 1px solid var(--blue-grey-1);
        padding: 1em 0;
        margin: var(--side-margins-992px);
    }

    .no-border {
        border: none;
    }

    .footer-column {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 50%;
    }

    .footer-column .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .footer-logo .logo-image {
        height: 40px;
        width: 40px;
        margin-right: 10px;
    }

    .footer-column .footer-list-row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .footer-column .footer-list ul {
        display: flex;
    }

    .help-link {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
        margin: 1em 0;
    }

    .help-link:hover {
        text-decoration: underline;
    }

    .help-link svg {
        width: 35px;
        height: 35px;
        margin-right: 20px;
    }

    .help-link span {
        text-transform: lowercase;
    }
}

@media only screen and (min-width: 1200px) {

    #navbar {
        margin: 0;
        padding: 0;
    }

    .navbar-container {
        margin: var(--side-margins-1200px);
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        width: 96%;
        height: var(--navbar-height);
    }

    .menu-toggle {
        display: none;
    }

    .nav-menu {
        display: flex;
    }

    .nav-menu .navbar-link {
        margin: 0;
        padding: 0;
        transition: border-bottom 0.3s ease;
    }

    .nav-menu .navbar-link a {
        font-size: 1rem;
        color: var(--primary-text-color-1);
        margin-bottom: 0;
    }

    .nav-menu .navbar-link:hover {
        border-bottom: 1px solid var(--brand-color-purple);
    }

    .main-content-container {
        margin: var(--side-margins-1200px);
    }

    .modal-content {
        width: 60%;
        height: 86%;
        left: 20%;
    }

    .page-nav-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        max-width: 1000px;
    }

    .page-nav-container .nav-card {
        flex-direction: row;
        align-items: normal;
        max-width: 100%;
        height: 280px;
    }

    .page-nav-container .nav-card .nav-card-image {
        width: 30%;
        max-height: 100%;
    }

    .page-nav-container .nav-card-content {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 20px;
        justify-content: space-between;
    }

    .page-nav-container .nav-card-content p {
        margin-bottom: 0;
    }

    .page-nav-container .nav-card .nav-card-content .button-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    .page-nav-container .nav-card .nav-card-content .primary-button {
        width: 25%;
        background-color: var(--brand-color-purple);
        box-shadow: var(--br-dark-shadow);
    }

    .page-nav-container .nav-card .nav-card-content .primary-button:hover {
        background-color: var(--primary-hover);
        box-shadow: none;
    }
}

@media only screen and (min-width: 1400px) {

    .navbar-container {
        margin: var(--side-margins-1400px);
        width: 84%;
    }

    .hero-content {
        margin: var(--side-margins-1400px);
    }

    .main-content-container {
        margin: var(--side-margins-1400px);
    }

    .footer-row {
        margin: var(--side-margins-1400px);
    }
}

@media only screen and (min-width:1800px) {

    .navbar-container {
        margin: var(--side-margins-1800px);
    }

    .menu-toggle {
        display: none;
    }

    .nav-menu {
        display: flex;
    }

    .nav-menu .navbar-link {
        color: #1a1a1a;
        font-size: 19px;
        margin: 0;
    }

    .nav-menu .navbar-link:hover {
        color: var(--brand-color);
        transition: all .5s ease-in-out;
        border-bottom: 1px solid var(--brand-color);
    }

    .hero-content {
        margin: var(--side-margins-1800px);
    }

    .main-content-container {
        margin: var(--side-margins-1800px);
    }

    .modal{
        top: 55px;
    }

    .modal-content {
        width: 40%;
        height: 86%;
        left: 30%;
    }

    .footer-row {
        margin: var(--side-margins-1800px);
    }
}