/*General rules*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    max-width: 1900px;
}

body {
    font-family: sans-serif, Helvetica, arial, sans-serif;
    font-size: 16px;
    letter-spacing: .5px;
    line-height: 1.5;
    margin: 0 10px 0 10px;
}

header {
    min-height: 48px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-top: 0;
    border-bottom-width: 0;
    border-bottom-color: #d5d6d9;
    border-bottom-style: solid;
    overflow: hidden;
}

nav {
    padding: 5px 20px;
}

ul {
    font-family: Montserrat;
    line-height: 25px;
    list-style-type: none;
    text-transform: uppercase;
    text-align: left;
    color: #4d4e4f;
}

article {
    margin: auto;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;

}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    margin: 10px;
    text-transform: uppercase;
}


h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    text-transform: capitalize;
    margin: 10px;
}

h4 {
    font-family: 'Raleway';
    font-size: 18px;
}

p {
    font-family: Montserrat;
    font-size: 16px;
    color: #4d4e4f;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
    color: black;
}

sup {
    font-size: 8px;
}

.emphasis {
    margin: 10px 0;
    font-weight: 900;
}

.light {
    background-color: #f7f7f7;
}

/* General Component styles  */

.showcase-section {
    padding: 20px 0;
    border-bottom: 1px solid lightgrey;
}

.showcase-section:last-of-type {
    border-bottom: none;
}

.centered-title {
    text-align: center;
    color: #4d4e4f;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 10px;
    margin-top: 0;
    margin-bottom: 10px;
}

.centered-title_light {
    text-align: center;
    color: #5a5a5a;
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.centered-text_dark {
    text-align: center;
    color: #4d4e4f;
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: none;
    margin-top: 0;
    margin-bottom: 20px;
}

.left-title_dark {
    text-align: left;
    color: #4d4e4f;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 0;
}

.left-text_dark {
    text-align: left;
    color: #4d4e4f;
    text-transform: none;
    padding: 10px 0;
}

.right-title_dark {
    text-align: right;
    color: #4d4e4f;
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 20px;
}

.right-text_dark {
    text-align: right;
    color: #4d4e4f;
    text-transform: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.right-text_dark p {
    font-family: permanent marker;
    text-transform: none;
    font-size: 16px;
}

.widget-library>ul>li:hover {
    text-decoration: underline;
}

/* navigation  */
.navigation {
    width: 100vw;
    background: rgb(131, 58, 180);
    background: linear-gradient(117deg, rgba(131, 58, 180, 1) 0%, rgba(29, 253, 243, 1) 50%, rgba(69, 88, 252, 0.6502976190476191) 100%);
    transition: all 3.5s ease-in-out;
}

.logo-image {
    width: 165px;
    height: auto;
}

.brand-image {
    position: absolute;
    width: 55px;
    height: auto;
}

.menu li {
    font-size: 16px;
    padding: 15px 5px;
}

.menu li a {
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}

.primaryBanner_container {
    background-color: #d3d3d3;
    width: 100%;
    max-width: 100%;
    height: 300px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.primaryBanner_contentWrapper {
    align-items: center;
    text-align: center;
}

.primaryBanner_textContainer {
    width: 100%;
}

.primaryBanner_headlineContainer {
    margin-top: 0;
}

.primaryBanner_headline-light {
    color: #ffffff;
    text-transform: none;
}

.primaryBanner_subtitle-light {
    color: #ffffff;
    font-size: 16px;
    letter-spacing: .5px;
    line-height: 1.5;
    text-transform: none;
    margin-bottom: 40px;
}

.primaryBanner_ctaContainer {
    box-sizing: border-box;
    display: block;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    max-width: 100%;
    width: auto;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    margin-left: 0;
    margin-right: 0;
    display: block;
}

.primaryBanner_cta-light {
    background-color: #fff;
    border-color: #333;
    border-width: 1px;
    border-radius: 0;
    color: #333;
    padding: 10px 15px;
}

.grayscale-image {
    width: 200px;
    height: auto;
    margin: 10px 10px 10px 0;
    filter: brightness(1.5);
    opacity: 0.7;
    border-radius: 2.5px;
}

.page-nav-showcase {
    margin-bottom: 20px;
    padding: 0 10px;
    background-color: #f4f3f2;
    border: 1px solid grey;
    border-radius: 2.5px;
}

.grayscaleImage-medium {
    width: 100%;
    height: auto;
    filter: brightness(1.5);
    opacity: 0.7;
    border-radius: 2.5px;
}

.image-medium {
    width: 100%;
    height: auto;
    filter: saturate(1.5);
}

.centeredImage_container {
    background-color: #d3d3d3;
    width: 60%;
    max-width: 100%;
    height: 300px;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px auto;
}

.centered-image-container {
    width: 60%;
    max-width: 100%;
    height: 300px;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px auto;
}

.centeredImageBanner_title-top {
    position: relative;
    top: -110px;
}

/* card blocks */
.cards-container {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 250px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card {
    background: white;
    border: 1px solid black;
    border-radius: 2px;
    margin: 5px 0;
}

.card-no-left-margin {
    border: 1px solid black;
    border-radius: 2px;
}

.card-no-right-margin {
    border: 1px solid black;
    border-radius: 2px;
}

.thumbnail>img {
    padding: 5px;
}

.card-content {
    padding: 1.4em;
}

.card-content h2 {
    margin-top: 0;
    margin-bottom: .5em;
    font-weight: bold;
}

.card-content p {
    font-size: 80%;
}


/* mobile first menu styles  */

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.toggle {
    order: 1;
}

.item.button {
    order: 2;
}

.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}

.item.active {
    /*js injected*/
    display: block;
}

.toggle {
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
    background: #ffffff;
    border-radius: 50%;
}

.bars {
    background: #999;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 18px;
}

.bars::before,
.bars::after {
    background: #999;
    content: "";
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 18px;
}

.bars::before {
    top: 5px;
}

.bars::after {
    top: -5px;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 70%;
    flex-shrink: 0;
    flex-grow: 1;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 0;
    border-bottom-width: 0;
    box-sizing: border-box;
    background-color: #fdfdfd;
    height: auto;
}

.strip-banner {
    width: 100%;
    padding: 0 10px;
    text-align: center;
    font-family: Montserrat;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.strip-banner:hover {
    background-color: #40cfe9;
    transition: all 1s ease 0s;
}

/* footer styles  */
footer {
    background-color: #ffffff;
    width: 100%;
    max-height: 100px;
}

.footer-content {
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.socialMedia-footer {
    height: 40px;
    width: auto;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer
}

.gray-fill {
    fill: lightgray;
}

.stripBanner-hover_gray:hover {
    background-color: lightgray;
    color: #f4f3f2;
}

.facebook .fill {
    fill: #395696;
}

.linkedin .fill {
    fill: #62ACC7;
}

.twitter .fill {
    fill: #4eb3ec;
}

.mail {
    background: #d34836;
    fill: #ffffff;
    border-radius: 50%;
}

/* East Side Footer Styles  */
.eastSideFooter {
    width: 100%;
    margin-top: 0;
    position: static;
}

.eastSideFooter-top-row {
    background: #fff;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #ebebeb;
}

.eastSideFooter-top-row_container,
.eastSideFooter-bottom-row_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.eastSideFooter_logo {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(46% - 32px);
}

.eastSide-logo {
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    margin-left: 0;
    margin-right: 0;
    display: inline-flex;
    margin-top: 16px;
}

.light-footer {
    color: #333;
}

.eastSideFooter-socialIcons {
    height: 35px;
    margin-left: 0;
    margin-right: 0;
    display: inline-flex;
    padding: 20px 0;
}

.eastSideFooter-socialMediaIcons_list {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    align-items: center;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.eastSideFooter-socialIcons_listItem {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 16px;
    list-style: none;
}

.eastSideFooter-bottom-row {
    border-bottom: 1px solid #ebebeb;
    background: #fff;
}

.eastSideFooter-linkColumns {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0 16px 0 16px;
    background-color: transparent;
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.eastSideFooter-linkColumns_levelOne-first {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(50% - 32px);
    width: auto;
    box-sizing: border-box;
}

.eastSideFooter-linkColumns_levelOneItem {
    border-top: 1px solid #ebebeb;
    width: 100%;
    background: 0 0;
    padding-left: 0;
    padding-right: 0;
    cursor: default;
}

.eastSideFooter-linkColumns_levelOne-title {
    padding-top: 16px;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.right-column {
    display: none;
}

.display-name {
    font-family: "Raleway";
    color: #4d4e4f;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 600;
}

.eastSideFooter-levelTwo-first {
    width: 50%;
}

.socialMedia_right-column {
    padding-left: 10px;
}

.levelTwoListItem-icon-and-title_container {
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 8px;
    list-style: none;
    box-sizing: border-box;
    cursor: pointer;
}

.eastSideFooterLinkColumns_levelTwoItemLink {
    display: inline-flex;
    align-items: center;
}

.eastSideFooter-levelTwoLink_logo {
    display: inline-flex;
    height: auto;
    width: auto;
}

.eastSideFooter-linkText_dark {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    font-family: 'Raleway';
    font-size: 16px;
    text-transform: none;
    width: 100%;
}

.eastSideFooterLink-lastColumn {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
}

.eastSideFooter-logoContainer {
    box-sizing: border-box;
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 32px;
}

.eastSideFooter-logo {
    display: block;
    box-sizing: border-box;
    padding-bottom: 16px;
    padding-right: 8px;
    align-content: left;
    padding-top: 0;
    padding-left: 0;
    margin-left: 0;
}

.eastSideFooter-logo_text {
    margin-top: 0;
    padding-bottom: 32px;
}

/* home page style - small mobile  */

.hero-image {
    background-image: linear-gradient(to bottom, rgba(100, 100, 100, 0.52), rgba(10, 0, 3, 0.3)), url(img/acoustic-guitar_banner-image-min.jpg);
    display: flex;
    flex-direction: column;
    align-self: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    background-position: center;
    width: 100%;
}

.hero-text {
    text-align: center;
    font-family: spartan;
}

.hero-header {
    align-self: center;
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.hero-button {
    background-color: #ffffff;
    color: #686868;
    padding: 10px 0px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 33%;
    align-self: center;
    border: 1px solid #41cfe9;
}

.hero-button:hover {
    color: #6a6a6afd;
    border-color: #fff;
    transition: all 0.2s ease 0s;
    font-weight: 500;
    text-decoration: none;
}

.welcome {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 20px;
}

.welcome-content {
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin: 0;
}

.profile {
    height: fit-content;
    padding: 20px;
}

.profile-caption {
    display: block;
    margin: 20px 0;
    font-family: 'Raleway';
    font-size: 12px;
}

.animated-profile {
    border-radius: 12%;
}

.animated-profile:hover {
    transform: rotate(-6deg)
}

/* home page -inner course navigation  */

.page-nav-container {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
}

.page-nav-component {
    margin: 10px;
    flex-grow: 1;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-nav-component:hover {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: fadeOut;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: .7;
    }
}

.page-navigation-anchor {
    display: flex;
}

.page-nav_inner-text {
    background-color: #f4f3f2;
    line-height: 24px;
}

.page-nav_inner-text h3 {
    color: #41cfe9;
}

.lesson-placeholder-image {
    width: 280px;
    height: 180px;
}

.image-placeholder {
    position: relative;
    top: -34px;
    color: #fff;
    font-family: 'Spartan';
    font-weight: 700;
    padding-left: 11px;
    background-color: #ffffff7d;
    text-shadow: 2px 2px #2f2727
}

.right-column,
.toTheTopBtn {
    display: none;
}

/* basics styling  */

.hero-image-basics {
    display: flex;
    flex-direction: column;
    min-height: 15em;
    align-self: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(100, 100, 100, 0.52), rgba(10, 0, 3, 0.3)), url(img/basichero-min.jpg);
    background-attachment: fixed;
}

/* strings  */
.section {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* frets styling  */

.hero-image-frets {
    display: flex;
    flex-direction: column;
    min-height: 15em;
    height: 70vh;
    align-self: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    background-position-y: center;
    width: 100%;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(100, 100, 100, 0.52), rgba(10, 0, 3, 0.3)), url(img/frets-banner-min.jpg);
    background-attachment: fixed;
}

.centeredImage_container {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 50%;
    height: 300px;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    border-radius: 3px;
}

.frets {
    background-image: linear-gradient(to bottom, rgba(100, 100, 100, 0.52), rgba(10, 0, 3, 0.3)), url(img/frets-banner-min.jpg);
}

.fretting {
    background-image: linear-gradient(to bottom, rgba(100, 100, 100, 0.52), rgba(10, 0, 3, 0.3)), url(img/Guitar-Fretting-min.jpg);
}

.soundWaves {
    background-image: linear-gradient(to bottom, rgba(100, 100, 100, 0.52), rgba(10, 0, 3, 0.3)), url(img/sound-waves-min.jpg);
}

.centeredImageBanner_title-top {
    position: relative;
    top: -110px;
}

.video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    padding-bottom: 20%;
    height: 100%;
}

.video-container>video {
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
}


/* large mobile and small tablet view ports */

@media all and (min-width: 464px) {
    .menu {
        justify-content: center;
        flex-direction: column;
    }

    .logo {
        flex: 1;
    }

    .brand-logo {
        position: absolute;
        width: 60px;
        height: auto;
    }

    .logo-image {
        width: 240px;
        height: auto;
    }

    .global-hero-banner-with-button {
        background-size: cover;
    }

    .cards-container {
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 250px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .card {
        background: white;
        border: 1px solid black;
        border-radius: 2px;
        margin: 2.5px;
        width: calc(910px / 3);
    }

    .card-no-left-margin {
        margin: 2.5px 2.5px 2.5px 0;
        border: 1px solid black;
        border-radius: 2px;
        width: calc(910px / 3);
    }

    .card-no-right-margin {
        margin: 0 0 2.5px 2.5px;
        border: 1px solid black;
        border-radius: 2px;
        width: calc(910px / 3);
    }

    .video-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 100%;
        align-self: center;
        overflow: hidden;
        margin: 0 auto;
    }

}

@media screen and (min-width: 674px) {
    .video-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 36%;
        height: 100%;
        align-self: center;
        overflow: hidden;
        margin: 0 auto;
    }

    .video-container>video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/* desktop */
@media screen and (min-width: 865px) {

    /* general styles  */

    .video-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 100%;
        align-self: center;
        overflow: hidden;
        margin: 0 auto;
    }

    .video-container>video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .eastSideFooter-linkColumns {
        flex-direction: row;
    }

    .brand-image {
        position: absolute;
        width: 60px;
        height: auto;
    }

    .logo-image {
        width: 240px;
        height: auto;
    }

    .item {
        display: block;
        width: auto;
    }

    .toggle {
        display: none;
    }

    .navigation {
        order: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background: linear-gradient(117deg, rgba(131, 58, 180, 1) 0%, rgba(29, 253, 243, 1) 50%, rgba(69, 88, 252, 0.6502976190476191) 100%);
        transition: all 0s ease-in-out;
    }

    .navigation ul {
        display: inherit;
        flex-direction: row;
    }

    .item {
        order: 1;
        padding: 20px;
    }

    .item:hover,
    .item a:hover {
        color: #ff33ddce;
        text-decoration: underline;
        /* transition: all .1s ease-in; */
    }

    .menu li {
        width: 125px;
        margin: 0 10px;
    }

    .menu li:hover {
        background-color: rgba(153, 198, 237, 0.816);
    }

    .menu li a:last-child {
        padding-right: 0;
    }

    nav {
        padding: 5px 20px 0 20px;
        height: 100%;
    }

    .selected {
        text-decoration: underline;
    }

    .strip-banner {
        flex: 3;
        width: 100%;
        margin-top: 5px 0;
        text-align: center;
        font-family: Montserrat;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
    }

    .strip-banner:active {
        outline: 1px solid #40cfe9
    }

    .strip-banner:hover {
        background-color: #40cfe9;
        transition: all 1s ease 0s;
    }

    .strip-banner a:hover {
        color: #ffffff;
    }

    /*Index Styles*/

    .hero-image {
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(to bottom, rgba(100, 100, 100, 0.52), rgba(10, 0, 3, 0.3)), url("img/acoustic-guitar_banner-image-min.jpg");
        min-height: 15em;
        height: 50vh;
        align-self: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        align-items: center;
        justify-content: center;
        background-color: #f1f0ec;
    }

    .hero-header {
        align-self: center;
        font-size: 50px;
        color: white;
        margin-bottom: 20px;
        font-family: 'Spartan';
        font-weight: 700;
    }

    .main-content-container {
        max-width: 960px;
        margin: 20px auto;
        height: 100%;
    }

    .welcome {
        flex: 1;
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .welcome-content {
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
        margin: 0;
    }

    .profile {
        height: fit-content;
        padding: 20px;
    }

    .profile-caption {
        display: block;
        margin: 20px 0;
        font-family: 'Raleway';
        font-size: 12px;
    }

    .animated-profile {
        border-radius: 12%;
    }

    .animated-profile:hover {
        transform: rotate(-6deg)
    }

    .page-nav-container {
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .page-nav-component {
        margin: 10px 0;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f4f3f2;
        border: 1px solid grey;
        border-radius: 2.5px;
    }

    .page-nav-component:hover {
        animation-duration: 0.5s;
        animation-fill-mode: both;
        animation-name: fadeOut;
    }

    @keyframes fadeOut {
        0% {
            opacity: 1;
        }

        100% {
            opacity: .7;
        }
    }

    .page-navigation-anchor {
        display: flex;
    }

    .page-nav_inner-text {
        background-color: #f4f3f2;
        line-height: 24px;
    }

    .page-nav_inner-text h3 {
        color: #41cfe9;
    }

    .lesson-placeholder-image {
        padding: 10px;
    }

    .image-placeholder {
        display: none;
    }

    .right-column {
        display: block;
        padding: 20px;
    }

    /* basics styles */

    .hero-image-basics {
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(to bottom, rgba(100, 100, 100, 0.52), rgba(10, 0, 3, 0.3)), url(img/basics-hero-min.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=100vw);
        min-height: 15em;
        height: 70vh;
        align-self: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        align-items: center;
        justify-content: center;
        background-position-y: center;
        width: 100%;
        background-size: cover;
    }

    /*Main pages content styles*/
    .help-center {
        display: none;
        position: fixed;
        z-index: 1;
        position: absolute;
        left: 25%;
        top: 25%;
        margin-left: -150px;
        margin-top: -150px;
        overflow: scroll;
        background-color: transparent;
    }

    #help-modal {
        margin: 0% auto;
        padding: 20px;
    }

    #help-modal>.table {
        justify-content: center;
        padding: 20px;
        margin: auto;
        width: 80%;
    }

    /* Modal Header */

    .modal-header {
        padding: 2px 16px;
        background-color: gainsboro;
        color: white;
    }

    .modal-body {
        padding: 2px 16px;
    }

    /* Modal Content */

    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 80%;
        animation-name: animatetop;
        animation-duration: 0.4s;
        box-shadow: 8px 6px 19px 0px rgba(50, 50, 50, 0.64);
    }

    @keyframes animatetop {
        from {
            top: -300px;
            opacity: 0
        }

        to {
            top: 0;
            opacity: 1
        }
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }


    #scroll-btn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        border: none;
        background-color: #3e92ca;
        color: white;
        cursor: pointer;
        padding: 5px;
        border-radius: 50%;
        outline: none;
    }

    #scroll-btn:hover {
        background-color: #8cbbdb;
    }

    .up-chevron {
        display: flex;
        position: relative;
        top: 7px;
        left: 4px;
        width: 42px;
        height: auto;
    }

    /*basic page 1 styles*/
    .guitar-components {
        background-image: url(img/guitar-diagram-min.png);
        background-size: contain;
        height: 300px;
        width: auto;
        background-repeat: no-repeat;
        margin: 0 30%;
    }

    /*basics page 2 content cards styles*/

    /* strings styles  */

    /* frets 1 styles  */
    /* ######################### Old Grid Code ######################### */
    /*frets page 2 content box styles*/
    #image-information-box {
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url(img/learn-and-play.png) no-repeat center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px;
        padding: 20px;
        margin: 0;
        grid-column: 1/7;
        grid-row: 2;
    }

    .info-boxF2 {
        grid-column: 4;
        grid-row: 2;
        background-color: aliceblue;
        padding: 0;
        position: relative;
    }

    #information-boxC1 {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, -0.3)), url(img/music.jpg) no-repeat center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        border-radius: 15px;
        grid-column: 1/7;
        grid-row: 2;
        margin: 0;
        padding: 20px;
    }

    /*chords content box -settings*/
    #horizontal-card-topC1 {
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: minmax(150px, auto);
        display: grid;
        max-width: 960px;
        margin: 0 auto;
        padding: 0;
        grid-column: 1/-1;
        grid-row: 3;
    }

    .cardC1 {
        grid-column: 3/4;
        grid-row: 1;
        height: 200px;
        margin-left: 5em;
    }

    .info-boxC1 {
        grid-column: 1/7;
        grid-row: 2;
        text-align: center;
    }

    #horizontal-card-bottomC1 {
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: minmax(150px, auto);
        display: grid;
        max-width: 960px;
        margin: 0 auto;
        padding: 0;
        grid-column: 1/-1;
        grid-row: 4;
    }

    .cardC2 {
        grid-column: 3/4;
        grid-row: 1;
        height: 200px;
        margin-left: 5em;
    }

    .info-boxC2 {
        grid-column: 1/-1;
        grid-row: 2;
        text-align: center
    }

    .information-boxC1 {
        grid-column: 4;
        grid-row: 3;
        background-color: aliceblue;
        padding: 0;
        position: relative;
    }

    /*chords page content box styles*/

    .info-box-power {
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: minmax(150px, auto);
        display: grid;
        max-width: 960px;
        margin: 0 auto;
        padding: 0;
        grid-column: 1/7;
    }

    .info-box-power h2 {
        grid-column: 2/6;
        grid-row: 1;
        margin: 0;
        padding: 0;
    }

    .card-power1 {
        background-image: url(img/f-power-placeholder.png);
        background-size: cover;
        background-repeat: no-repeat;
        grid-column: 3/6;
        grid-row: 2/5;
        max-height: 300px;
        max-width: 300px;
        border: 1px solid lightgray;
        border-radius: 10px;
        margin-bottom: 0;
    }

    .info-box2-power {
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: minmax(150px, auto);
        display: grid;
        max-width: 960px;
        margin: 0 auto;
        padding: 0;
        grid-column: 1/7;
    }

    .info-box-power p {
        grid-column: 1/7;
        grid-row: 5;
        margin-top: 0;
        padding-top: 0;
        text-align: center;
    }

    .info-box2-power h2 {
        grid-column: 2/6;
        grid-row: 1;
        margin: 0;
        padding: 0;
    }

    .card2-power {
        background-image: url(img/B-power-placeholder.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        grid-column: 3/6;
        grid-row: 2/5;
        height: auto;
        width: 100%;
        max-height: 300px;
        max-width: 300px;

        border: 1px solid darkgray;
        border-radius: 10px;
    }

    .info-box2-power p {
        grid-column: 1/7;
        grid-row: 5;
        margin-top: 0;
        padding-top: 0;
        text-align: center;
    }

    /*lead page 1 content-box styles*/
    .lower-information-box-lead {
        grid-column: 1/7;
        grid-row: 4/6;
        background-color: aliceblue;
        padding: 0;
        position: relative;

    }

    #information-box-lead.lower-information-box-lead h4 {
        margin-top: 10em;
        font-size: 22px;
    }

    #information-box-lead {
        /*implement gradient liner controls gave more control on how bright the background image was so text was more readable overlaying it*/
        background: linear-gradient(rgba(0.0, 0.0, 0.0, 0.3), rgba(0, 0, 0, 0.6)), url(img/GIBSON_CREST_01.jpg) no-repeat center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
        border-radius: 15px;
        grid-column: 1/7;
        grid-row: 4/6;
        padding: 20px
    }

    #contact-info-detail.contact-info {
        grid-column: 1/7;
        grid-row: 6;
        height: 480px;
        margin-bottom: 5em;
    }

    .contact-info h4 {
        text-align: center;
        list-style: none;
        font-family: 'Work-Sans', sans-serif;
        font-size: 22px;
        color: gainsboro;
        font-weight: 500;

    }

    #contact-info-detail {
        /*contact-details*/
        background: linear-gradient(rgba(0.0, 0.0, 0.0, 0.7), rgba(0, 0, 0, 0.5)), url(img/image1.png) no-repeat center;
        background-size: cover;
        border-radius: 15px;
        list-style: none;
        padding: 10px;
    }

    .lower-information-box-lead {
        grid-column: 1/7;
        grid-row: 4/6;
        background-color: aliceblue;
        padding: 0;
        position: relative;
    }

    #contact-box-lead2 {
        background: linear-gradient(rgba(0.0, 0.0, 0.0, 0.2), rgba(0, 0, 9, 0.1)), url(img/me.png) no-repeat center;
        background-size: cover;
        height: 260px;
        grid-column: 5/7;
        grid-row: 8;
    }

    #contact-box-lead2 h4 {
        margin-top: 8em;
        text-align: center;
        font-family: 'Work-Sans', sans-serif;
        font-size: 22px;
        color: gainsboro;
        font-weight: 500;
        list-style: none;
    }

    /*general content styles pages*/

    .outroB2 {
        grid-column: 1/7;
        grid-row: 5;
        font-family: 'Roboto';
        font-style: italic;
        text-align: right;
        font-size: 1.5rem;
        color: grey;
    }

    #lower-section {
        margin-top: 3em;
        padding-top: 0;
        grid-column: 1/7;
        grid-row: 4;
    }

    /*Fret Styling*/

    #welcomeF1 {
        grid-column: 1/7;
        grid-row: 1;
        text-align: center;
    }

    #information-placeholderF1 {
        grid-column: 1/7;
        grid-row: 2;
    }

    #information-placeholderF1 img {
        height: auto;
        width: 100%;
        max-width: 300px;
        border-radius: 25%;
        float: left;
    }

    #information-placeholderF1 p {
        margin-right: 30px;
    }

    .lessonF1 {
        grid-column: 1/7;
        grid-row: 3;
        text-align: center;
    }

    .fretboard-placeholder2 {
        background-image: url(img/fretboard.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        grid-column: 1/7;
        grid-row: 4;
    }

    .placeholder {
        background-image: url(img/frets-placeholder.png);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px;
        height: 230px;
        margin: 40em 30px 10px 30px;
        grid-column: 4/7;
        grid-row: 3;
    }

    .lessonF1a {
        grid-column: 1/7;
        grid-row: 5;
        text-align: center;
    }

    .outroF1 {
        font-family: 'Roboto';
        font-style: italic;
        text-align: right;
        font-size: 1.5rem;
        color: grey;
        grid-column: 2/7;
        grid-row: 6;
    }

    #lesson-two-frets {
        grid-column: 1/6;
        grid-row: 7;
        border: 2px solid lightgray;
        border-radius: 10px;
        margin-bottom: 2em;
    }

    #lesson-two-frets h1 {
        font-family: 'Courgette', 'sans-serif';
        font-size: 40px;
    }

    .left-column,
    .right-column {
        display: flex;
        align-items: center;
    }

    .page-navigation-anchor:hover {
        text-decoration: none;
    }

    .centeredImage_container-soundWaves,
    .centeredImage_container-fretting,
    .centeredImage_container-frets {
        width: 60%;
    }
}

/*frets2 styling*/
/* 
#welcomeF2 {
    grid-column: 1/7;
    grid-row: 1;
    text-align: center
}

.contentF2 {
    grid-column: 4/7;
    grid-row: 3;
}

.contentF2 img {
    width: 400px;
    height: 250px;
    border-radius: 15px;
}

.content2F2 {
    grid-column: 1/4;
    grid-row: 3;
}

.outroF2 {
    font-family: 'Roboto';
    font-style: italic;
    text-align: right;
    font-size: 1.5rem;
    color: grey;
    grid-column: 2/7;
    grid-row: 4;
} */

/*Chord1 styles*/
/* .welcomeC1 {
    grid-column: 1/-1;
    grid-row: 1;
    text-align: center;
}

.outroC1 {
    grid-column: 2/7;
    grid-row: 5;
    font-family: 'Roboto';
    font-style: italic;
    text-align: right;
    font-size: 1.5rem;
    color: grey;
}

#lesson-two-chords {
    grid-column: 1/6;
    grid-row: 6;
    border: 2px solid lightgray;
    border-radius: 10px;
}

#lesson-two-chords h1 {
    font-family: 'Courgette', 'sans-serif';
    font-size: 40px;
}

#lesson-two-chords p {
    font-family: 'Secular+One', 'sans-serif';
    text-align: center;
} */



/*Chords2 Styles*/
/* .welcome-chords2 {
    grid-column: 1/7;
    grid-row: 1;
    text-align: center;
}

.outro-power {
    grid-column: 2/7;
    grid-row: 4;
    font-family: 'Roboto';
    font-style: italic;
    text-align: right;
    font-size: 1.5rem;
    color: grey;
} */

/*Rhythm page content styles*/


/* #lower-section-imageR1 {
    background-image: url(img/acoustic-mic-studio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 400px;
    grid-column: 2/6;
    grid-row: 2/4;
    margin: 0;
    padding: 0;
    border-radius: 10px;
}

#lower-sectionR1 {
    grid-column: 1/7;
    grid-row: 4;
    text-align: center;
    margin-top: 0;
    padding-top: 0;

}

#lower-section-image2R1 {
    background-image: url(img/metronome.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    grid-column: 2/6;
    grid-row: 5/7;
}

.outroR1 {
    grid-column: 3/7;
    grid-row: 7;
    font-family: 'Roboto';
    font-style: italic;
    text-align: right;
    font-size: 1.5rem;
    color: lightgray;
}

#lesson-two-frets {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    background-color: aliceblue;
    height: 180px;
    border-radius: 15px;
    grid-column: 1/5;
    border: 1px solid lightgrey;
}

#lesson-two-rhythm {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    background-color: aliceblue;
    height: 180px;
    border-radius: 15px;
    grid-column: 1/5;
    border: 1px solid lightgrey;
}

#lesson-two-rhythmR1 {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    background-color: aliceblue;
    height: 180px;
    border-radius: 15px;
    grid-column: 1/5;
    border: 1px solid lightgrey;
}

#lesson-two-rhythm h1 {
    color: #77b3d4;
    font-family: Courgette;
    font-size: 35px;
    padding: 10px;
} */

/*Rhythm Page 2 styling*/

/* .introduction {
    grid-column: 1/-1;
    grid-row: 1;
    text-align: center;
    margin-top: 0
}

.story {
    grid-column: 1/7;
    grid-row: 2;
    margin-top: 0;
}

.story img {
    height: auto;
    width: 100%;
    max-width: 360px;
    margin: 0 10px 5px 10px;
    float: left;
    border-radius: 10px
}

#head-banner-content-rhythm2>.chord-section1 {
    grid-column: 1/7;
    grid-row: 4;
}

.chord-section1 img {
    height: auto;
    width: 100%;
    max-width: 258px;
    margin: 15px 10px 0px 10px;
    float: left;
    border-radius: 10px
}

.chord-section1a {
    grid-column: 1/7;
    grid-row: 5;
}

.chord-section1a img {
    float: right;
    height: 300px;
    width: 200px;
}

.chord-section2 {
    grid-column: 1/-1;
    grid-row: 3;
    text-align: center;
}

.table {
    grid-column: 1/-1;
    grid-row: 7;
}

.table>table {
    height: auto;
    width: 100%;
    font-family: 'Roboto';
    font-size: 1.5rem;
}

th {
    background-color: bisque;
}

td {
    background-color: aliceblue;
    text-align: center;
}

table,
th,
td {
    border: 1px solid #111;
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
}

.outro {
    grid-column: 1/7;
    grid-row: 3;
    font-family: 'Roboto';
    font-style: italic;
    text-align: right;
    font-size: 1.5rem;
    color: grey;
} */

/*lead styles*/

/* .higher-section-image-lead {
    background-image: url(img/lead-guitar-image.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(340deg);
    grid-column: 3/5;
    grid-row: 2
}

.higher-section-l1 {
    grid-column: 1/7;
    grid-row: 3;
    text-align: center
}

.lower-section-lead {
    grid-column: 1/7;
    grid-row: 5
}

#lesson-two-lead {
    grid-column: 1/6;
    grid-row: 7;
    border: 2px solid lightgray;
    border-radius: 10px;
}

#lesson-two-lead h1 {
    font-family: 'Courgette', 'sans-serif';
    font-size: 40px;

}

#lesson-two-lead p {
    font-family: 'Secular+One', 'sans-serif';
    text-align: center;

} */

/*lead 2 styles*/
/* .thankyou {
    grid-column: 1/7;
    grid-row: 1;
    margin: 0;
    text-align: center
}

.tablature-lesson-introduction {
    grid-column: 1/7;
    grid-row: 2;
    text-align: center;
    margin: 0;
}

#tablature-placeholder {
    background-image: url(img/Tablature.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 15px;
    grid-column: 2/6;
    margin: 20px 0;
    grid-row: 3/5;
}

.tablature-description {
    grid-column: 1/7;
    grid-row: 5;
    text-align: center;
    margin: 0
}

.disclaimer {
    grid-column: 2/6;
    grid-row: auto;
    text-align: center;
}



.outro {
    text-align: right;
    font-style: italic;
    grid-column: 3/7;
    grid-row: 6;
}



.fact {
    width: 100%;
    max-width: 960px;
    float: right;
}

.fact p {
    font-family: 'Roboto';
    font-style: italic;
    text-align: right;
    font-size: 1.5rem;
    color: grey;
    margin: 5rem 0;
}

.mobile-navigation,
.burger-button,
.hamburger-menu {
    display: none;
}
} */

/* 
@media only screen and (max-width: 963px) {

    article {
        margin: 0 20px;
    }

    .desktop-nav-bar {
        display: none;
    }

    header {
        border-bottom: 1px solid grey;
    }

    #lesson-two-basics,
    #lesson-two-lead,
    #lesson-two-chords,
    #lesson-two-rhythm,
    #lesson-two-frets {
        grid-column: 1/7;
        margin-bottom: 20px;
        grid-row: auto;
    }

    /*Mobile nav stylings*/
/* .burger-button {
        display: block;
        float: left;
        margin: 16px;
        line-height: 30px;
        font-size: 28px;
        fill: black;
    }

    #mobile-menu {
        overflow: auto;
        position: absolute;
        z-index: 999999;
        width: 100%;
        float: left;
        margin-top: 60px
    }

    #mobile-menu a {
        width: 100%;
        float: left;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: lightgrey;
        color: #ffffff;
        text-align: center;
        padding-left: 16px;
        text-decoration: none;
        border-bottom: 1px solid #0065d1;
    }

    .logo {
        text-align: center;
        height: auto;
    }

    .main-banner-image {
        height: 250px;
    }

    .banner-message {
        font-size: 1rem;
        grid-column: 1/5;
        grid-row: 1;
        margin: 10px 0 10px 10px;
    } */

/*basics styling*/
/* #card-bridge {
        grid-row: 1;
        max-height: 200px;
        align-items: end;
        border: none;
    }

    #cardB1 {
        grid-column: 3/4;
        width: 219px;
        margin-left: 50px;
    }

    .info-boxB1 {
        grid-column: 1/7;
        grid-row: 2;
        text-align: center;
    }

    #cardB2 {
        grid-column: 3/5;
        width: 300px;
        margin-left: 0;
    }

    #cardB3 {
        grid-column: 2/5;
        height: 148px;
        margin: 50px 0 0 106px;
    } */

/*frets styles*/
/* .contentF2 img {
        height: 262px;
        max-width: 300px;
    }

    .content2F2 img {
        height: auto;
        width: 100%;
        max-width: 500px;
    }

    /*Rhythm 1 styles*/
/* #lower-section-imageR1 {
        background-size: contain;
    }

    #lower-section-image2R1 {
        background-size: contain;
    } */

/*Chord Styles*/
/* .info-box-power {
        grid-column: 1/-1;
        grid-row: 2;
        padding: 0;
        margin: 0;
    }

    .card-power1 {
        grid-column: 3;
        grid-row: 2;
        width: 300px;
        height: 300px;
        margin: 0 0 0 5em;
        padding: 0;
    }

    .info-box-power p {
        grid-row: 3;
    }

    .info-box2-power {
        grid-column: 1/-1;
        grid-row: 3;
    }

    .card2-power {
        grid-column: 3;
        grid-row: 2;
        width: 300px;
        height: 300px;
        margin: 0 0 0 5em;
        padding: 0;
    }

    .info-box2-power p {
        grid-row: 3;
    }

    .info-box2-power {
        grid-column: 1/-1;
        grid-row: 3;
    }

    .outro-power {
        grid-row: 5;
    } */

/*lead*/
/* .higher-section-image-lead {
        grid-column: 3/5;
        transform: rotate(310deg);
    }

    #tablature-placeholder {
        grid-row: 3;
        grid-column: 3/6;
    }

    .tablature-description {
        grid-row: 4;
    }

    .guitar-on-tab-placeholder {
        background-size: contain;
        grid-row: 5/8;
        margin-bottom: 2em;
    }

    .outro-lead-final {
        grid-row: 5/8;
        margin-bottom: 2em;
    }


} */

/* @media only screen and (max-width: 730px) {
    section {
        margin: 0;
        text-align: center;
    }

    h2 {
        font-size: 22px;
    }

    .mobile-navigation ul,
    .mobile-navigation li,
    .mob-sub-level {
        margin-left: 5px;
        font-size: 22px;
        line-height: 25px;
    }

    .logo h2 {
        text-align: center;
        height: 50px;
        width: 430px;
        line-height: 50px;
        font-size: 28px;
    }

    #touch-nav-content {
        display: flex;
        flex-direction: column;
    }

    #main-banner-image-basics img {
        width: 400px;
    }

    #main-banner-image-frets img {
        max-width: 400px;
    }

    .lower-section-lead {
        margin: 10px 0 10px 0;
    }

    .lower-section-lead p {
        text-align: center;
    }

    .mobile-navigation {
        width: 90vw;
        margin-top: 3.8em;
    }

    /*basics styling*/
/* #card,
    #card-bridge {
        grid-column: 3/5;
        grid-row: 1;
    }

    #info-box,
    #info-box2 {
        grid-column: 1/7;
        grid-row: 2;
    }

    #cardB1,
    #cardB2,
    #cardB3 {
        grid-column: 2/4;
        width: 200px;
        margin: 6em 0 0 0;
    } */

/*Frets styling*/
/* .fretboard-placeholder1 {
        grid-column: 3/7;
        grid-row: 1;
    }

    .information-placeholderF1 {
        grid-column: 1/7;
        grid-row: 2;
    }

    .fretboard-placeholder2 {
        background-size: contain;
        grid-column: 3/6;
    }

    #welcomeF2 {
        max-width: 340px;
    }

    .contentF2 {
        grid-column: 1/7;
        grid-row: 3;
    }

    .content2F2 {
        grid-column: 1/7;
        grid-row: 4;
    }

    .contentF2 img {
        width: 600px;
        margin: 0 10px;
    }

    .placeholder {
        grid-column: 1;
        grid-row: 6;
        width: 600px;
        margin: 0 0 10em 0;
    }

    .outroF2 {
        display: none;
    } */

/*Chords*/
/* .information-boxC1#information-boxC1 {
        height: 300px;
    }

    #horizontal-card-topC1 {
        padding: 0;
        height: 700px;
    }

    .cardC1 {
        margin-left: 2em;
    }

    .info-boxC1 {
        height: 300px;
    }

    #horizontal-card-topC2 {
        padding: 0;
        height: 700px;
    }

    .cardC2 {
        margin-left: 2em;
    }

    .info-boxC2 {
        height: 300px;
    }

    .outroC1 {
        grid-column: 1/7;
    } */

/*Rhythm*/
/* .introduction {
        grid-column: 1/7;
    } */

/*lead*/
/* .higher-section-image-lead {
        transform: rotate(0deg);
        grid-column: 2/6;
    }

    .lower-information-box-lead#information-box-lead {
        height: 500px
    }

    #information-box-lead.lower-information-box-lead h4 {
        margin-top: 5em;
        font-size: 22px;
    }

    .banner-message h1 {
        font-size: 1.3rem;
    }

    #lesson-two-rhythm {
        margin-bottom: 20px;
        grid-row: 8;
    }

    #contact-info-detail {
        grid-column: 1/6;
        grid-row: 5/8;
        margin: 0;
    } */

/*    lead2*/
/* #contact-info-detail.contact-info {
        grid-column: 1/7;
        grid-row: auto;
        margin: 2em 0;
        height: 650px;
    }

    .contact-information-box,
    #contact-box-lead2 {
        background-size: contain;
        grid-column: 1/7;
        grid-row: 7;
        margin: 2em 0 9em;
        border-radius: 10px;
    } */
/* } */

/* @media only screen and (max-width: 430px) {
    article {
        margin: 10px;
        text-align: center;
    }

    .mobile-navigation {
        margin-left: -2em;
    }

    .mob-sub-level {
        font-size: 10px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 30px;
        margin: 0;
    }

    p {
        font-size: 22px;
    }

    .banner-message {
        font-size: 1rem;
    }

    #head-banner-content-rhythm2 div {
        padding: 0;
    }

    .logo h2 {
        text-align: center;
        height: auto;
        width: 330px;
        line-height: 60px;
        font-size: 28px;
        margin-left: 20px;
    } */

/*basics*/
/* #card,
    #card-bridge {
        margin-top: 50px;
    }

    #lesson-two-rhythm h1 {
        font-size: 30px;
    } */

/*frets*/
/* #information-placeholderF1 img {
        position: absolute;
        left: 79px;
        height: auto;
        width: 200px;
    }

    #information-placeholderF1 p {
        position: relative;
        padding: 10em 0 0 0;
        margin-left: 20px;
    }

    .fretboard-placeholder2 {
        background-size: cover;
        grid-column: 2/6;
    }

    .contentF2 p,
    .content2F2 p {
        text-align: center;
    }

    .contentF2 img,
    .content2F2 img {
        width: 270px;
    }

    .placeholder {
        width: 340px;
        height: 200px;
    } */

/*Rhythm Styles*/
/* #main-banner-image-frets img {
        grid-column: 1/4;
    }

    #lower-section-imageR1 {
        background-size: contain;
        grid-column: 2/6;
        grid-row: 2;
    }

    #lower-sectionR1 {
        grid-row: 3;
    }

    #lower-section-image2R1 {
        background-size: contain;
        grid-row: 4;
    }

    .outroR1 {
        grid-row: 5;
    } */

/*rhythm2*/
/* .chord-section1 {
        grid-row: 4;
    }

    .chord-section1 p {
        width: 90vw;
        margin: 10px 10px;
    }

    .chord-section1 img {
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    .chord-section1a {
        grid-row: 5;
        margin: 0;
        padding: 0;
    }

    .chord-section1a img {
        height: 250px;
        width: 80vw;
    }

    .chord-section2 {
        grid-row: 6;
        margin: 0;
    } */

/*chords*/
/* .chord-section1a {
        display: grid;
    }

    .chord-section1a img {
        grid-column: 2/6;
        grid-row: 3;
    }

    .chord-section1a p,
    h2 {
        grid-column: 1/7;
        grid-row: 1;
    }

    .story {
        display: grid;
    }

    .story img {
        grid-column: 1/7;
        grid-row: 2;
    }

    .story p {
        grid-column: 1/7;
        grid-row: 3;
    }

    .chord-section1 {
        display: grid;
    }

    .chord-section1 img {
        grid-column: 1/7;
        margin-left: 3em;
        grid-row: 2;
    }

    .chord-section1 p {
        grid-column: 1/6;
        grid-row: 3;
    }

    .outroC1 {
        display: none;
    }

    #lesson-two-chords {
        grid-row: 6;
    } */

/*chords 2*/
/* .cardC1 {
        margin-top: 2em;
    }

    .cardC2 {
        margin-bottom: 5em;
    }

    .outroC1 {
        grid-row: 6;
        height: 300px;
    }

    .information-boxC1#information-boxC1 {
        height: 340px;
    }

    /*chords 2*/
/* .welcome-chords2 {
        grid-row: 1/2;
    }

    .card-power1 {
        margin: 0 0 0 30px;
    }

    .card2-power {
        margin: 0 0 0 30px;
    }

    .outro-power {
        grid-column: 2/7;
        grid-row: 4;
    } */

/*lead*/
/* #main-banner-image-frets img {
        grid-column: 1/5;
        width: 300px;
    }

    #main-banner-image-basics img {
        height: auto;
        width: 100%;
        width: 300px;
    }

    #main-banner-image-frets img {
        max-width: 400px;
    }

    #information-box-lead.lower-information-box-lead h4 {
        margin-top: 2em;
        font-size: 22px;
    }

    .outro {
        grid-column: 1/7;
    }

    .fact p {
        font-size: 21px;
        margin-left: 10px;
    }

    #tablature-placeholder {
        grid-column: 1/7;
    }

    .card-power1,
    .card2-power {
        margin: 0;
    } */

/*rhythm*/
/* #lesson-two-rhythm {
        grid-row: 6;
    }
} */

/* @media only screen and (max-width: 330px) {
    .logo h2 {
        text-align: center;
        height: auto;
        width: 300px;
        line-height: 70px;
        font-size: 28px;
        margin-left: 20px;
    }

    .mobile-navigation {
        margin-left: -2em;
    }

    #lesson-two-rhythm h1 {
        font-size: 25px;
    } */

/*frets*/
/* #information-placeholderF1 img {
        position: absolute;
        left: 60px;
        height: auto;
        width: 200px;
    }

    #information-placeholderF1 p {
        position: relative;
        padding: 11em 0 0 0;
    }

    .contentF2 p,
    .content2F2 p {
        text-align: center;
    }

    .contentF2 img,
    .content2F2 img {
        width: 270px;
    }

    .placeholder {
        width: 300px;
        height: 200px;
    }

    .card-power1,
    .card2-power {
        margin: 0;
    }

    #information-box-lead.lower-information-box-lead h4 {
        margin-top: 1em;
        font-size: 21px;
    }

    #contact-info-detail,
    #contact-box-lead2 {
        margin: 0;
    }

    .outro {
        grid-column: 1/7;
    }

    #tablature-placeholder {
        grid-column: 2/6;
    } */
/* }  */



@media screen and (min-width:1000px) {

    .navigation {
        order: 2;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background: linear-gradient(117deg, rgba(131, 58, 180, 1) 0%, rgba(29, 253, 243, 1) 50%, rgba(69, 88, 252, 0.6502976190476191) 100%);
        transition: all 0s ease-in-out;
    }

    .video-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 100%;
        align-self: center;
        overflow: hidden;
        margin: 0 auto;
    }

    .hero-button {
        background-color:
        #ffffff;
        color: #686868;
        padding: 10px 0px;
        margin: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        cursor: pointer;
        width: 30%;
        align-self: center;
        border: 1px solid #41cfe9;
    }

    .hero-button:hover {
        text-decoration: none;
    }

    .welcome-content {
        margin: 18px;
    }

    .left-column,
    .right-column {
        display: flex;
        align-items: center;
    }

    .cards-container {
        flex-direction: row;
    }

    .eastSideFooter-top-row_container {
        flex-direction: row;
    }

    .socialMedia_right-column {
        padding-left: 60px;
    }

    .eastSideFooterLinkColumns_levelTwoItemLink {
        width: 60%;
    }
}